In [2]:
import os
import cv2
import pandas as pd

In [3]:
# Liste des répertoires contenant les images
image_dirs = ['train/aeroplane', 'train/bicycle', 'train/bus', 'train/car', 'train/horse', 'train/knife','train/motorcycle', 'train/person', 'train/plant', 'train/skateboard','train/train','train/truck']

In [4]:
image_data = []
for image_dir in image_dirs:
    
    image_files = [f for f in os.listdir(image_dir) if os.path.isfile(os.path.join(image_dir, f))]

    for image_file in image_files:
        image_path = os.path.join(image_dir, image_file)
        img = cv2.imread(image_path)
        height, width, _ = img.shape
        image_data.append({'file': image_file, 'width': width, 'height': height, 'dir': image_dir})

df = pd.DataFrame(image_data)

In [7]:
df['dir'] = df['dir'].str.replace('train/', '', regex=False)

In [11]:
df.rename(columns={'dir': 'object_type'}, inplace=True)

In [12]:
df.head(5)

,file,width,height,object_type
0,src_2_02691156_1d6afc44b053ab07941d71475449eb2...,384,216,aeroplane
1,src_1_02691156_7f09b3b11ae3f22dbe13ce34aa7c0c1...,384,216,aeroplane
2,src_2_02691156_7aac10eb5b285098774a720fca15e35...,384,216,aeroplane
3,src_2_02691156_1b0b1d2cb9f9d5c0575bd26acccafab...,384,216,aeroplane
4,src_2_02691156_4def53f149137451b0009f08a96f38a...,384,216,aeroplane

In [14]:
df.describe()

               width         height
count  152397.000000  152397.000000
mean      383.998898     216.001102
std         0.430349       0.430349
min       216.000000     216.000000
25%       384.000000     216.000000
50%       384.000000     216.000000
75%       384.000000     216.000000
max       384.000000     384.000000

In [16]:
# Le dataframe comporte 152397 observations et donc autant pour l'entrainement du modèle. La largeur et longueur minimales des
# images est de 216pixels et au maximum 384.

152397